/* <header>  <nav>  <sectiobn>  <hgroup>
Internet Explorer 9+, Firefox, Opera, Chrome 以及 Safari 支持 <header> 标签。
注释：Internet Explorer 8 以及更早的版本不支持 <header> 标签*/


/*div,a,img,h1,p,form所有主流浏览器都支持*/


/*通用CSS*/
*{margin: 0;
  padding:0;
  list-style: none;
  text-decoration: none;
  font:16px/1 "Microsoft Yahei UI";
}

 article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}
section {width: 100%;position:relative;}


/*header*/
header{background-color: #2e2e2e;width: 100%}
header > div{width: 1400px;height: 96px;margin: 0 auto;position: relative;}	
header > div > a{display: block;float: left;margin-top: 32px;}
header > div > nav{float: right;width: 800px;height: 96px;}
header > div > nav > a {font-size:18px;margin-left: 55px;color:#fff;display: block;width: 145px;height:100%;float:left;text-align: center;padding-top: 40px;}
header > div > nav > a:hover,a.active{background-color: #f46208;color:#2e2e2e;}



/*banner*/

section > .banner {position: absolute;top: 70%;left: 30%}
section > .banner > h1{font-size: 70px;color:#fff;}
section > .banner > p{font-size: 32px;color:#fff;}



/*portfolio*/
section > .folio {width:850px;height:300px;margin: auto;padding-top: 100px;text-align: center; margin-bottom: 20px;}
section > .folio > h1{color:#f46208;font-size: 48px;margin-bottom: 40px;}
section > .folio > p{margin-bottom: 100px;line-height: 25px;}
section > .folio > nav{margin: auto;}
section > .folio > nav >a{font-size: 20px;line-height: 20px;padding: 10px;margin-left: 20px;border: 0.1em solid #f46208;color:#f46208;} 
section > .folio > nav >a:hover{background: #f46208;color:#fff;}
section > .folio-img {background-image: url(../img/portfolio-nav-img.jpg);background-size: cover;height: 680px;}





/*stats区*/
section > .stats {width:850px;height:300px;margin: auto;padding-top: 0px;text-align: center; }
section > .stats > h1{color:#f46208;font-size: 48px;margin-bottom: 30px;padding-top: 100px;}
section > .stats > p{margin-bottom: 00px;line-height: 25px;}
section > .stats-img{text-align: center;width: 1200px;margin: 0 auto;overflow: hidden;margin-bottom: 100px;}
section > .stats-img > a {display: block;float:left;width: 100px;margin-left:160px;}
section > .stats-img > a > img{margin-bottom: 15px;}
section > .stats-img > a > p{margin-bottom: 15px;}
section > .stats-img > a > samp{margin-bottom: 15px;font-size: 30px;color:#f46208;}




/*team区*/
.backimg-team{background-color: #2e2e2e;;background-size:cover;height: 680px;}
section > .team {width:850px;height:160px;margin: auto;padding-top: 100px;text-align: center; }
section > .team > h1{color:#f46208;font-size: 48px;margin-bottom: 30px;}
section > .team > p{margin-bottom: 60px;color:#fff;line-height: 25px;}
section > .team-img{text-align: center;width: 1200px;margin: 0 auto;overflow: hidden;margin-bottom: 100px;}
section > .team-img > a {display: block;float:left;width: 250px;margin-left:120px;}
section > .team-img > a > img{margin-bottom: 15px;}
section > .team-img > a > p{margin-bottom: 15px;color:#fff;}
section > .team-img > a > samp{display:block;font-size: 16px;color:#fff;line-height: 25px;}




/*contact us*/
section > .contact {width:850px;height:160px;margin: auto;padding-top: 100px;text-align: center; }
section > .contact > h1{color:#f46208;font-size: 48px;margin-bottom: 30px;}
section > .contact > p{margin-bottom: 80px;color:#000;line-height: 25px;}
section > form{width:100%;margin: 0 auto}
section > form > .input{width: 800px;margin: 0 auto;line-height: 100px}
section > form > .input >input{line-height: 40px;}
section > form > .textarea{width: 800px;margin: 0 auto;text-align: center;margin-bottom: 100px;}
section > form > .textarea > textarea{width: 800px;height: 280px;resize: none;}
section > form > .textarea > button{width: 200px;height: 50px;background-color:#f46208;color:#fff;}




/*footer*/  /*这里因为是最简单的部分，所以想练一下盒子模型的掌握度。代码有点啰嗦*/
footer{background-color: #2e2e2e;height: 95px;text-align: center;position: relative;}
footer > p{display:block;width:224px;height:20px;color:#fff;line-height: 14px;position: absolute;top: 50%;left: 50%;margin-left:-111.4px;margin-top:-8px; }




<button type="buttom" name="submit"  style="">Submit Message</button> 